* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;

}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #CCC;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);

}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;

}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

.default {
    padding: 50px 0;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
    
}

.default .section-desc {
    font-size: 12px;
    color: #CCC;
    margin: 10px;
    margin-bottom: 60px;

}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #FFF;
}

/* ---------------------------------------------------- */

/* CSS DE ÁREAS ESPECÍFICAS */

/* Section About Us */
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 500px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/* Section Services */

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;

}

.section-service h4 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/* Section Projects */

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul, 
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
}

.section-projects--filters li:hover {
    border-bottom: 3px solid #B28756;
    transition: 2s;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #B28756;    
}

.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

/* Section Our Team */

.bg-team {
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
    min-height: 300px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}

.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #B28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social {
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}

.section-team--social a:hover {
    background-color: #B28756;
}

/* Section Happy Clients */

.section-clients {
    overflow: hidden;
    max-width: 570px;
    margin: auto;
}

.section-clients .sliders {
    width: 1000vw;
    height: 100%;
    
}

.section-clients .slide {
    width: 570px;
    height: 100%;
}

.section-clients .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}

.section-client--avatar {
    width: 150px;
    height: auto;
}

.section-client--name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    margin-top: 30px;
}

.section-client--role {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.section-client--icon {
    padding: 20px 0px 10px 0px;
}

.section-client--desc p {
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #999;
}

.section-clients-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-clients-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.section-clients-area .pointer.active {
    background-color: #B28756;
}

/* Section sponsorship */

.default.light-bg-sponsor {
    background-color: #FFF;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.section-sponsor-area {
    max-width: 1140px;
    margin: auto;
}

.section-sponsor-area img {
    padding: 0px 40px 0px 40px;
}

/* Section price */

.section-price {
    overflow: hidden;
    max-width: 1140px;
    margin: auto;
}

.section-price .tables {
    width: 1000vw;
    height: 100%;
}

.section-price .table {
    width: 265px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
    min-height: 300px;
}

.section-price .tablearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}

.section-price--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    margin-top: 20px;
}

.section-price--pricing {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
}

.section-price--role {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.section-price--desc {
    margin-top: 10px;
    font-size: 9px;
    text-align: center;
}

.button-inactive {
    display: inline-block;
    background-color: #222;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

/* section premium */

.section-premium {
    max-width: 1140px;
    margin: auto;
    border-bottom: 1px solid #CCC;
}

.section-premium--content {
    width: 1000vw;
    height: 100%;
    display: inline-flex;
}

.section-premium--right {
    width: 570px;
}

.section-premium--right p {
    font-size: 14px;
    line-height: 25px;
    margin-left: 55px;
}

.section-premium--right p,
.section-premium--right ul {
    color: #999;
}

.section-premium--right ul {
    margin-left: 55px;
    text-transform: uppercase;
}

.section-premium--right ul li {
    list-style: none;
}

.section-premium--right ul li.dashed:before {
    content: "\2014\a0";
}

.section-premium--right img {
    margin-right: 20px;
}

.section-premium--right img,
.section-premium--right h1 {
    display: inline-flex;
}

.first-feature,
.second-feature,
.third-feature {
    margin-top: 20px;
}

.third-feature {
    margin-bottom: 60px;
}

.section-premium--left {
    width: 570px;
    margin-left: 50px;
}

.section-premium--left img {
    width: 380px;
}

.section-premium-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-premium-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.section-premium-area .pointer.active {
    background-color: #B28756;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}